<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="keyword">
    <li v-for="person in filteredPeople" :key="person">{{person}}</li>
  </div>

  <style>
    *{
      font-size: 18px;
    }

    input{
      border: none;
      border: solid 2px rgb(130, 192, 37);
      border-radius: 5px;
    }

    input:focus{
      outline: none;
    }

    li{
      list-style: none;
      font-weight: bold;
    }

  </style>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        keyword:'',
        people: ['佐藤', '山田', '鈴木', '田中' ]
      },
      computed:{
        filteredPeople:function(){
          let people =[];
          for(let i in this.people){
            let person = this.people[i];
            if(person.indexOf(this.keyword) !== -1){
              people.push(person);
            }
          }
          return people;
        }
      }
    })
  </script>
</body>
</html>